bin
obj
Debug
Release
*.dll
*.nupkg
*.vssscc
*.vspscc
*.suo
*.csproj.user
TestResult.xml
TestResults
packages
*.pdsync
*.pdsyncu
*.vsmdi
*.testsettings
*.swp
PrecompiledWeb
AppLog
!Excel.dll
!Aspose.Cells.dll
!LitJson.dll
Web.config