<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
    <add key="EnableNuGetPackageRestore" value="true" />
  </solution>
  <packageSources>
    <!--<add key="Hofan" value="http://build.hofan-sz.com/nuget/nuget/" />-->
    <add key="Nuget" value="https://nuget.org/api/v2/" />
  </packageSources>
</configuration>