<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="AdoNetAppender_SqlServer" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1"/>
      <!--指的是 够多少行进行入库-->
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <!--测试库-->
      <connectionString value="data source=(local);initial catalog=OMS;integrated security=false;persist security info=True;User ID=sa;Password=SemitronPass@w0rd"/>
      <!--真实库-->
      <!--<connectionString value="data source=sql.w83.vhostgo.com;initial catalog=OMS;integrated security=false;persist security info=True;User ID=OMS;Password=876231858231"/>-->
      <commandText value="INSERT INTO SystemLog ([LogLevel],[Msg],[LogThread],[Exception],[Logger],[CreateTime])VALUES(@log_level,@message,@thread,@exception,@logger,@log_date)"/>
      <parameter>
        <parameterName value="@log_date"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.PatternLayout" value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}"/>
      </parameter>
      <parameter>
        <parameterName value="@thread"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout" value="%thread"/>
      </parameter>
      <parameter>
        <parameterName value="@log_level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout" value="%level"/>
      </parameter>
      <parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout" value="%logger"/>
      </parameter>
      <parameter>
        <parameterName value="@message"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.PatternLayout" value="%message"/>
      </parameter>
      <parameter>
        <parameterName value="@exception"/>
        <dbType value="String"/>
        <size value="2000"/>
        <layout type="log4net.Layout.ExceptionLayout"/>
      </parameter>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="AdoNetAppender_SqlServer"/>
    </root>
    <!--<root>
      <level value="WARN"/>
      <level value="INFO"/>
      <level value="DEBUG"/>
      <level value="FINE"/>
    </root>
    -->
    <!-- Specify the level for some specific categories -->
    <!--
    <logger name="iNotes">
      <level value="WARN"/>
      <level value="INFO"/>
      <level value="DEBUG"/>
      <level value="FINE"/>
      <appender-ref ref="RollingLogFileAppender"/>
      <appender-ref ref="ADONetAppender" />
    </logger>-->
  </log4net>
  <connectionStrings>
    <!--数据库缓存依赖使用-->
    <add name="strcodematic" connectionString="data source=(local);initial catalog=OMS;user id=sa;password=SemitronPass@w0rd" providerName="System.Data.SqlClient"/>
    <!--<add name="strcodematic" connectionString="data source=sql.w83.vhostgo.com;initial catalog=OMS;integrated security=false;persist security info=True;User ID=OMS;Password=876231858231"  providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="ConStringEncrypt" value="false"/>
    <!--父级系统真实库ID-->
    <add key="ParenSystem" value="577"/>
    <!--测试库-->
    <add key="ConnectionString" value="server=(local);database=OMS;uid=sa;pwd=SemitronPass@w0rd"/>
    <!--真实库-->
    <!--<add key="ConnectionString" value="server=sql.w83.vhostgo.com;database=OMS;uid=OMS;pwd=876231858231;pooling=true;connection lifetime=0;min pool size = 1;max pool size=1000" />-->
    <!--上传附件使用-->
    <add key="FileServerPath" value="\file_system\"/>
    <add key="FileServerUrl" value="http://localhost:20910/file_system/"/>
    <!--<add key="FileServerUrl" value="http://www.semitronelec.com/file_system/" />-->
    <!--客户订单附件上传路径-->
    <add key="CustomerFilePath" value="\file_system\CustomerFilePath\"/>
    <!--QC确认附件上传路径-->
    <add key="QCFilePath" value="\file_system\QCFilePath\"/>
    <!--计费明细财务附件上传路径-->
    <add key="OrderFeeFilePath" value="\file_system\OrderFeeFilePath\"/>
    <!--下载中心文件上传路径-->
    <add key="DownloadCenterFilePath" value="\file_system\DownloadCenterFilePath\"/>
    <!--富文本框上传使用-->
    <add key="WebSiteUrl" value="http://localhost:20910/"/>
    <!--<add key="WebSiteUrl" value="http://www.semitronelec.com/" />-->
    <!--超级管理员角色ID-->
    <add key="SuperAdminRoleId" value="2"/>
    <add key="VersionNumber" value="1.20140523.0"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off" defaultRedirect="Error.htm">
      <error statusCode="403" redirect="Error.htm"/>
      <error statusCode="404" redirect="Error.htm"/>
    </customErrors>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="datasource=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxRequestLength="524288011" useFullyQualifiedRedirectUrl="true" executionTimeout="300000"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>